

@font-face {
    font-family: 'Comforter';
    src: url('./Comforter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.unified > li {
    background-color: black; color: white;
    border-radius: 0;
}
.box{
    width:100px; height:80px;  
    border:solid 3px rgb(255, 0, 0);
    border-color:transparent transparent rgb(255, 0, 0) rgb(255, 0, 0);
    border-radius: 250px 100px 100px 0px;
  }
.graph {
    width: 260px; 
    height: 100px;  
    border: solid 10px rgb(255, 0, 0);
    border-color: rgb(255, 0, 0) transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
    rotate: 110deg;
    margin-top: 10px;
    margin-left: -40px;
}
/* .dropdown-item {
    height: inherit;
} */
.flip::after {
    transform: rotate(45deg);
}
.fuckingpain {
    height: 10%;
}

.dropListEven.show {
 height: 300%; max-height: fit-content; padding: 0px !important;  display: flex; flex-direction: column; align-items: stretch; background-color: black;
}
.purplebtn:not(.collapsed) {
    background-color: blueviolet;
    color: white;
    border-color: blueviolet;
    
}
.purplebtn:not(.collapsed) span {
    background-color: black;
    /* color: white;
    border-color: blueviolet; */
    
}
.acc-white {
    background-color: blueviolet;
   /* border-width: 0px 2px 0px 2px;  top right bottom left */
}
.purplebtn.collapsed {
    background-color: black;
    color: white;
    border-color: blueviolet;
}
.purplebtn:focus {
    box-shadow: none !important;
}
.dropListEven .dropdown-item:first-child {
    border-top: 2px solid blueviolet;
}

.dropListEven .dropdown-item:last-child {
    border-bottom: 2px solid blueviolet;
}


.dropListEven .dropdown-item {
    border-right: 2px solid blueviolet;
}

/* .dropListEven > .dropdown-item {
    box-sizing: border-box;
} */

.autofillbtn:hover {
    color: blueviolet;
}

.autofillbtn:focus {
    box-shadow: none !important;
    color: blueviolet;
}
/* .autofillbtn:active {
    color: blueviolet;
} */
.smallButton {
    border-right: 2px solid blueviolet;
}
.autofillbtn {
    border-radius: 0;
    background-color: black;
    color: white;
    border-width: 0px 2px 0px 0px; /* top right bottom left */
    border-style: solid solid solid solid;
    border-color: blueviolet blueviolet blueviolet blueviolet;
    /* border-right: 2px solid blueviolet; */
    /* text-align:center  */    
}

/* .dropdown-menu.show {
    border-color: blueviolet;
    background-color: white;
} */
.dropdown-item {
    color: white;
}
.smallButton:focus {
    border-right: 2px solid transparent;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
    color: blueviolet;
}

@media only screen and (min-width : 1400px) {
    .offset {
        transform: translate(439px, -1px) !important;
    }
    .offsetSL {
        transform: translate(439px, -1px) !important;
    }
    .offsetF {
        transform: translate(439px, -3px) !important;
    }
    .offsetR {
        transform: translate(439px, 3px) !important;
    }
    
}
@media only screen and (max-width : 1399px) {
    .offset {
        transform: translate(379px, -1px) !important;
    }
    .offsetSL {
        transform: translate(439px, -1px) !important;
    }
    .offsetF {
        transform: translate(379px, -3px) !important;
    }
    .offsetR {
        transform: translate(379px, 3px)  !important;
    }
    
}
@media only screen and (max-width : 1199px) {
    .offset {
        transform: translate(319px, -1px) !important;
    }
    .offsetSL {
        transform: translate(439px, -1px) !important;
    }
    .offsetF {
        transform: translate(439px, -3px) !important;
    }
    .offsetR {
        transform: translate(319px, 3px) !important;
    }
    
    .fuckingpain {
        height: 32px;
    }
    .autofillbtn {
        line-height: 0px;
    }

    .dropListEven > .dropdown-item {
        max-height: 32px;
    }
}
@media only screen and (min-width : 992px) {
    .floatie {
        /* display: block; */
        position: sticky; bottom: 10px;
        /* float: right; */
        margin-left: 95%;
        /* right: 5px; */
        /* float: right; */
    }
    .fill {
        display: block;
    }
    .footer-border-right {
        border-right: 2px solid blueviolet;
    }
    .footer-border-bottom {
        border-bottom: 2px solid blueviolet;
    }

}
@media only screen and (max-width : 991px) {
    .floatie {
        display: none;
    }
    .fill {
        display: none;
    }    
    .footer-border-top {
        border-top: 2px solid blueviolet;
    }
    .footer-border-bottom {
        border-bottom: none;
    }
}














/* .graph:before {
    height:20px;
    width: 10px;
    border: 5px solid orange;
    border-radius: 30px 30px 0px 0px /75px 75px 0px 0px ; 
    display: block;
    content: "";
    border-bottom:none;
    position:relative;
    top: -9px;
    left: -12px;
    rotate: 110deg;
} */
.cover {
    object-fit: cover;
  }
.xyz {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.ping {
    height: 10px;
    width: 100px;
    /* margin: 5px; */
    background-color: blue;
    /* bottom: 0; */
    /* left: 100px; */
    display: inline-block;
    /* position:  absolute; */
  }
  .testcont {
    position: relative;
  }
  .testbuttonL:hover {
    background-color: rgba(255, 255, 255, .5);
  }
  .testbuttonR:hover {
    background-color: rgba(255, 255, 255, .5);
  }
  .testbuttonL {
    height: 400px;
    width: 100px;
    background-color: transparent;
    position:  absolute;
    top: 0;
    left: 8px;
  }
  .testbuttonR {
    height: 400px;
    width: 100px;
    background-color: transparent;
    position:  absolute;
    top: 0;
    right: 8px;
  }
.hidable {
    display: none;
}
.cnt {
    display: flex;
    justify-content: center;
}
.imgcntflex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* .imgcnt {
    display: block;
    margin: 0 auto;
} */
/* #offset {
    right: ;
} */

/* @media only screen and (min-width : 768px) {
    #offset {
        transform: translate(440px) !important;
    }
}
@media only screen and (max-width : 767px) {
    #offset {
        transform: translate(380px) !important;
    }
}
@media only screen and (min-width : 576px) {
    #offset {
        transform: translate(440px) !important;
    }
}
@media only screen and (max-width : 575px) {
    #offset {
        transform: translate(380px) !important;
    }
} */

.override::after {
    /* border-bottom: 0 !important; */
    content: none !important;
}

.cart {
    position: relative;
    right: 10vw;
    bottom: 10vw;
    background-color: deeppink;
    height: 10vw;
    width: 10vw;
    /* display: none; */
}
.new {
    color: crimson;
}

.del {
    text-decoration: line-through;
}

header  {
    background-color: blueviolet;
}
/* .dropdown button {
    border-radius: 0% !important;
} */
/* header h1 {
    text-align: center;
} */
/* body {
    background-color: black;
    color: cornsilk;
}*/